@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#standard-basic {
  color: white;
}

ul {
  text-decoration: none;
}

.text{
  margin-left: 10px;
  position: fixed;
  bottom: 0;
}
